<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GuessMe</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <style>
    #header {
      width: 100%;
    }

    span.input-group-text {
      background-color: transparent;
    }

    .form-control:focus {
      border: none;
      box-shadow: none;
    }

    #response {
      font-size: 2.5em;
    }

    .input-group * {
      font-size: 1.5em;
    }

    #history p {
      margin: 0 0;
    }
    </style>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div id="header" class="d-flex justify-content-between">
        <div class="p-2">
          <button id="reset" class="btn" type="button">
            <i class="bi bi-arrow-counterclockwise"></i>
          </button>
        </div>
        <div class="p-2">
          <a class="navbar-brand" href="https://guessme.coolsilon.com/"
            >GuessMe</a
          >
        </div>
        <div class="p-2">&nbsp;</div>
      </div>
    </nav>

    <div class="container">
      <div class="my-5" id="response"></div>
      <form id="form">
        <div class="input-group flex-nowrap">
          <span
            class="input-group-text border-0"
            id="addon-wrapping"
            >&gt;</span
          >
          <input
            id="prompt"
            type="text"
            class="form-control border-0"
            placeholder="Your response ..."
            aria-label="Response"
            aria-describedby="addon-wrapping"
            disabled
            autocomplete="off"
          />
        </div>
      </form>
      <div class="mt-4" id="history"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
    <script src="./game.js"></script>
    <script id="template-response" type="text/template">
      <% data.split('\n').forEach((item) => { %><p><%= item %></p><% }) %>
    </script>
    <script id="template-history" type="text/template">
      <p>
        <span class="text-secondary"><%- type %></span> :
        <strong><%- input %></strong>
        <% if (response) { %> <span class="text-success">yes</span> <% } else { %> <span class="text-danger">no</span> <% } %>
      </p>
    </script>
  </body>
</html>
